/* Footer always below content */

/*

- https://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed
  
  => 2015 solution from http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css

- google "bootstrap footer at bottom of content"

*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px; /* footer would oberlap content, so margin */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}
